version: '3.8'
services:
  mongo:
    image: mongo:6
    container_name: mongodb
    volumes:
      - mongodb_data:/data/db
    ports:
      - "27017:27017" 
    restart: always

  backend:
    build: ./backend
    container_name: backend
    ports:
      - "3000:3000" 
    environment:
      MONGO_URL: mongodb://mongo:27017/ifts29db 
      NODE_ENV: development
    # Nota: depends_on inicia el contenedor, pero no garantiza que Mongo esté listo para conexiones.
    # En producción idealmente usaríamos un script wait-for-it.sh (TU CAMBIO)
    depends_on:
      - mongo 
    restart: always

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "80:80" 
    environment:
      VITE_API_URL: http://localhost:3000
    restart: always

volumes:
  mongodb_data: